/* --- Global --- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-weight: normal;
    color: white;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
    background: rgb(15,11,61);
    background: -moz-linear-gradient(120deg, rgba(15,11,61,1) 0%, rgba(23,61,9,1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(15,11,61,1) 0%, rgba(23,61,9,1) 100%);
    background: linear-gradient(120deg, rgba(15,11,61,1) 0%, rgba(23,61,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0b3d",endColorstr="#173d09",GradientType=1);
    color: white;
}

main {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background-image: url("../svg/bg-repeat.svg");
    background-size: cover;
}

div {
    font-size: 3em;
    text-align: center;
    text-shadow: 0 10px 30px rgba(0, 0, 0, .8);
}

section {
    border: 5px solid white;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .3);
    padding: 8px 26px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}

section a {
    padding: 14px;
    transform: scale(1);
    transition: all .2s;
    text-align: center;
}

section a:hover {
    transform: scale(1.1);
}

section a > * {
    width: 36px;
    height: 36px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 850px) {
    section a {
        flex: 0 0 16%;
    }
}
